VITE_SUPABASE_URL=https://fbetwbvujrzhtvklosrg.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_MfGOtHDM-X2Z2F7K0fAG7w_38Q1fyG-

NEXT_PUBLIC_SUPABASE_URL=https://fbetwbvujrzhtvklosrg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MfGOtHDM-X2Z2F7K0fAG7w_38Q1fyG-
